<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i" rel="stylesheet">

 <link rel="stylesheet" media="(max-width: 11000px) and (max-height: 11000px)" href="../static/cenoticeform.css" />
 <link rel="stylesheet" href="../static/fontello-a010d3e1/css/fontello.css" />
 <link rel="stylesheet" media="(max-width: 11000px) and (max-height: 11000px)" href="../static/mainform1.css" />
  <link rel="stylesheet" media="(max-width: 11000px) and (max-height: 11000px)" href="../static/mainform2.css" />

 <style>

</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    function fnMove(seq){
        var offset = $("#div" + seq).offset();
        $('html, body').animate({scrollTop : offset.top - 150}, 400);
    }
</script>
</head>
<body>

<div id="navbar">
  
	<a href="#contcat" onclick="fnMove('1')"> 신환</a>
	<a href="#contact" onclick="fnMove('2')">OT</a>
	<a href="#contact" onclick="fnMove('3')">새터</a>
	<a href="#contact" onclick="fnMove('4')">MT</a>
	<a href="#contact" onclick="fnMove('5')">핑캠</a>
	<a href="#contact" onclick="fnMove('6')">개총</a>
	<a href="#contact" onclick="fnMove('7')">기타</a>
    	<a href="#contact" onclick="fnMove('8')">통장사본</a>
</div>


<header id="header"> 
    <div class="jbTitle">
     <p><img src="../static/cemark1.png"  alt="" align="center" class="logo"/> 
            <a class="font1"> {{notices}} &nbsp;</a></p>       
    </div>
</header>

<header id="header0">
 

    <div class="jbMenu">
   <header id="header1">
            <span class="textmain">



              <h1>Hello, This WebSite is made for the <strong>transparent receipt disclosure </strong>of the <a href="https://cms.pknu.ac.kr/ced/main.do"> Computer Engineering department</a><br /></h1>


            <ul class="icons" >
              <li><a href="https://pf.kakao.com/_iUxhMd/chat" class="icon-chat" ><span class="label" >Facebook</span></a></li>
              <li><a href="https://bit.ly/2AAiss7" class="icon-facebook" id="label2"><span class="label" >Instagram</span></a></li>
     
              <li><a href="https://www.instagram.com/01_pkce" class="icon-instagram" id="label2"><span class="label" >500px</span></a></li>
              

            </ul>
              </span> 


            </header>


   


         </div> 

    </header>



<div style="padding:15px 15px 0;font-size:30px;margin-top:30px;">
  




</div>
<script text="text/javascripts">
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (250 < currentScrollPos) {
    document.getElementById("navbar").style.top = "0px";
  } else {
    document.getElementById("navbar").style.top = "-400px";
  }
  prevScrollpos = currentScrollPos;
}

</script>


</body>
<body class="center">











    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/신환.png"  >
</div>
  <div class="notice" id="norice2">
  <div id="div1" class="fontsize1"><a>2월 7일, 2019</a>
</div>
<div class="fontsize2"><a>신입생 환영회</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/신환/신환_1.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>

    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/신환.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 7일, 2019</a>
</div>
<div class="fontsize2"><a>신입생 환영회_1</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/신환/신환_2.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






        <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/OT.png"  >
</div>
  <div class="notice" id="norice2">
  <div id="div2" class="fontsize1"><a>2월 15일, 2019</a>
</div>
<div class="fontsize2"><a>O T</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/OT/OT_1.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>


    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div id="div3" class="fontsize1"><a>2월 20일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_1.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>


    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 25일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_1</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_2.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>




    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 22일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_2</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_3.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>



    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 23일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_3</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_4.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>




    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 24일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_4</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_5.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>





    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 24일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_5</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_6.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>





    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 25일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_6</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_7.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>





    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 25일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_7</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_8.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>




    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 25일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_8</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_9.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>





    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 25일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_9</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_10.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 25일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_10</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_11.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>새내기 배움터_11</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_12.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 25일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_12</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_13.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 26일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_13</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_14.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 07일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_14</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_15.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>





    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 15일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_15</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_16.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>







    <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/새터.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 25일, 2019</a>
</div>
<div class="fontsize2"><a>새내기 배움터_16</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/새터/새터_17.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->

<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->


<!--   새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝-  새터끝 새터 끝 -->



 <div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/MT.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 09일, 2019</a>
</div>
<div id="div4" class="fontsize2"><a>M T</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/MT/MT_1.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/핑크캠퍼스.png"  >
</div>
  <div class="notice" id="norice2">
  <div id="div5" class="fontsize1"><a>3월 22일, 2019</a>
</div>
<div class="fontsize2"><a>핑크캠퍼스</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/핑크캠퍼스/pinkbill_1.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/핑크캠퍼스.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 22일, 2019</a>
</div>
<div class="fontsize2"><a>핑크캠퍼스_1</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/핑크캠퍼스/pinkbill_2.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/pinkce.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 22일, 2019</a>
</div>
<div class="fontsize2"><a>핑크캠퍼스_2</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/핑크캠퍼스/pinkbill_3.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/개총과종총.png"  >
</div>
  <div class="notice" id="norice2">
  <div id="div6" class="fontsize1"><a>3월 05일, 2019</a>
</div>
<div class="fontsize2"><a>개총</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/개총과종총/개총_1.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/개총과종총.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 08일, 2019</a>
</div>
<div class="fontsize2"><a>개총_1</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/개총과종총/종총_1.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div id="div7" class="fontsize1"><a>2월 15일, 2019</a>
</div>
<div class="fontsize2"><a>기타</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_1.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>







<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>2월 21일, 2019</a>
</div>
<div class="fontsize2"><a>기타</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_2.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>



<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 04일, 2019</a>
</div>
<div class="fontsize2"><a>기타</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_4.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>











<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 04일, 2019</a>
</div>
<div class="fontsize2"><a>기타</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_5.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>











<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 05일, 2019</a>
</div>
<div class="fontsize2"><a>기타</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_6.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>









<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 10일, 2019</a>
</div>
<div class="fontsize2"><a>기타</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_8.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>










<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 12일, 2019</a>
</div>
<div class="fontsize2"><a>기타</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_9.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>






<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>과잠바</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_3.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>



<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 05일, 2019</a>
</div>
<div class="fontsize2"><a>환불</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_7.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>





<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a>3월 15일, 2019</a>
</div>
<div class="fontsize2"><a>환불_1</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/기타/기타_10.png" id="billimg" alt="" align="middle" />
</div>
</div>
</div>











<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div id="div8" class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>통장사본</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/통장사본/copybill_1.JPG" id="billimg" alt="" align="middle" />
</div>
</div>
</div>









<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>통장사본_1</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/통장사본/copybill_2.JPG" id="billimg" alt="" align="middle" />
</div>
</div>
</div>









<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>통장사본_2</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/통장사본/copybill_3.JPG" id="billimg" alt="" align="middle" />
</div>
</div>
</div>









<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>통장사본_3</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/통장사본/copybill_4.JPG" id="billimg" alt="" align="middle" />
</div>
</div>
</div>









<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>통장사본_4</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/통장사본/copybill_5.JPG" id="billimg" alt="" align="middle" />
</div>
</div>
</div>









<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>통장사본_5</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/통장사본/copybill_6.JPG" id="billimg" alt="" align="middle" />
</div>
</div>
</div>









<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>통장사본_6</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/통장사본/copybill_7.JPG" id="billimg" alt="" align="middle" />
</div>
</div>
</div>



<div class="bloack">
    <div class="bloack2">
      <div class="bloack3">
        <div class="notice" id="notice">
  <img id= "littlemark" src="../static/images/기타.png"  >
</div>
  <div class="notice" id="norice2">
  <div class="fontsize1"><a></a>
</div>
<div class="fontsize2"><a>통장사본_7</a>
  </div>
</div>


</div>
<div class="bill">
  <img src="../static/images/bills/통장사본/copybill_8.JPG" id="billimg" alt="" align="middle" />
</div>
</div>
</div>



</body>
</html>

